.sp-cascade-select {}

.sp-cascade-select-panel {
  display: flex;
  height: 240px;
  border: 1px solid var(--border-common-default);
}


.sp-cascade-select-column {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.sp-cascade-select-column:not(:first-child) {
  border-left: 1px solid var(--border-common-default);
}

.sp-cascade-select-option {
  --sp-button-padding: 8px;
  --sp-button-font: var(--sp-text-b3);
  --sp-button-bg-color: transparent;
  --sp-button-bg-color-hover: var(--bg-bgless-hover);
  --sp-button-bg-color-active: var(--bg-bgless-active);
}

.sp-cascade-select-option.selected {
  --sp-button-font: var(--sp-text-h8);
  --sp-button-text-color: var(--text-brand-default) !important;
  --sp-button-bg-color: var(--bg-brand-light-default) !important;
}