:root {


/* Rainbow/DeepPurple/1000 */

background: #0F0066;


/* Rainbow/DeepPurple/900 */


background: #200F85;


/* Rainbow/DeepPurple/800 */


background: #321FA1;


/* Rainbow/DeepPurple/700 */


background: #4632BA;


/* Rainbow/DeepPurple/600 */


background: #5E4AD4;

/* Rainbow/DeepPurple/500

7B67EE
*/
background: #7B67EE;


/* Rainbow/DeepPurple/400 */


background: #907FF0;


/* Rainbow/DeepPurple/300 */


background: #A89AF5;


/* Rainbow/DeepPurple/200 */


background: #C0B6FA;


/* Rainbow/DeepPurple/100 */


background: #D8D2FC;


/* Rainbow/DeepPurple/50 */


background: #EEEBFF;


}