:root {

  --sp-font-style: normal;
  --sp-font-family: Arial, sans-serif;
  /* Head */
  --sp-text-h1: var(--sp-font-style) 600 32px/48px var(--sp-font-family);
  --sp-text-h2: var(--sp-font-style) 600 28px/42px var(--sp-font-family);
  --sp-text-h3: var(--sp-font-style) 600 24px/36px var(--sp-font-family);
  --sp-text-h4: var(--sp-font-style) 600 20px/30px var(--sp-font-family);
  --sp-text-h5: var(--sp-font-style) 600 18px/28px var(--sp-font-family);
  --sp-text-h6: var(--sp-font-style) 600 16px/24px var(--sp-font-family);
  --sp-text-h7: var(--sp-font-style) 600 14px/22px var(--sp-font-family);
  --sp-text-h8: var(--sp-font-style) 600 13px/20px var(--sp-font-family);
  --sp-text-h9: var(--sp-font-style) 600 12px/18px var(--sp-font-family);

  /* Body */
  --sp-text-b1: var(--sp-font-style) 400 16px/24px var(--sp-font-family);
  --sp-text-b2: var(--sp-font-style) 400 14px/22px var(--sp-font-family);
  --sp-text-b3: var(--sp-font-style) 400 13px/20px var(--sp-font-family);
  --sp-text-b4: var(--sp-font-style) 400 12px/18px var(--sp-font-family);
  --sp-text-b5: var(--sp-font-style) 400 10px/14px var(--sp-font-family);

  font: var(--sp-text-b1);
  color: var(--text-common-primary);
  --sp-shadow-default: 0px 12px 24px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--bg-common-default);
}