.sp-scroll-area {
  position: relative;
  overflow: auto;
  height: 100%;
}

.sp-scroll-area::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sp-scroll-area-view {
  overflow: auto;
  height: 100%;
}

.sp-scroll-area-view::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sp-scroll-area-vertical-bar {
  position: absolute;
  user-select: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: var(--sp-scroll-area-vertical-bar-width);
  border-radius: var(--sp-scroll-area-vertical-bar-border-radius);
  background-color: var(--sp-scroll-area-vertical-bar-bg-color);
}

.sp-scroll-area-vertical-slider {
  position: absolute;
  user-select: none;
  width: var(--sp-scroll-area-vertical-slider-width);
  border-radius: var(--sp-scroll-area-vertical-slider-border-radius);
  background-color: var(--sp-scroll-area-vertical-slider-bg-color);
}

.sp-scroll-area-horizontal-bar {
  position: absolute;
  user-select: none;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: var(--sp-scroll-area-horizontal-bar-height);
  border-radius: var(--sp-scroll-area-horizontal-bar-border-radius);
  background-color: var(--sp-scroll-area-horizontal-bar-bg-color);
}

.sp-scroll-area-horizontal-slider {
  position: absolute;
  user-select: none;
  height: var(--sp-scroll-area-horizontal-slider-height);
  border-radius: var(--sp-scroll-area-horizontal-slider-border-radius);
  background-color: var(--sp-scroll-area-horizontal-slider-bg-color);
}