.sp-scroll-area {
  position: relative;
  overflow: auto;
  height: 100%;
}

.sp-scroll-area::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sp-scroll-area-view {
  overflow: auto;
  height: 100%;
}

.sp-scroll-area-view::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}